<h3>Edit post</h3>

<!--won't work with redirect-->
<% flash.each do |k, v| %>
  <div id="<%= k %>"><%= v %></div>
<% end %>

<%= form_for :tweet, url: tweet_path(@tweet), method: :patch do |f| %>
  <p>
    <%= f.label :title %> <br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %> <br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>